#**
 *  Main entry point into the /browse templates
 *#

#set($searcher = $request.searcher)
#set($params = $request.params)
#set($clusters = $response.response.clusters)
#set($mltResults = $response.response.get("moreLikeThis"))
#set($annotate = $params.get("annotateBrowse"))
#parse('query_form.vm')
#parse('did_you_mean.vm')

<div class="row">
	<div class="col-md-3">
		##<div class="navigators">
	  	#parse("facets.vm")
	  	##</div>
	</div>

	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				##<div class="pagination">
				  <div class="alert alert-info">
				  #parse("pagination_top.vm")
				  </div>
				##</div>
				## Show Error Message, if any
				##<div class="error">
				  #parse("error.vm")
				##</div>
			</div>
		</div>
		
		<div class="row">
			## Render Results, actual matching docs
			##<div class="results col-md-12">
			  #parse("results_list.vm")
			##</div>
		</div>
		<div class="row">
			##<div class="pagination col-md-12">
			  #parse("pagination_bottom.vm")
			##</div>
		</div>
	</div>
</div>