#**
 *  Render the top section of the page visible to users
 *#

<div id="head">
  	<h4 class="mL30 mT50">
	  	<a class="a_title" href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end">
	  		<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Organization Tool
	  	</a>
	</h4>
</div>
