span.source_link a:hover, span.source_link a:focus,span.source_link a{
	color: #007ce0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    opacity: 1;
    text-decoration: none;
}

span.mlt a.label.label-primary{
	font-size: 100%;
}