#**
 *  Render json data for graph
 *#

<div class="json" style="min-height: 350px; margin-bottom: 30px;">
[
#foreach($doc in $response.results)
  {"code": "$doc.getFieldValue('code')", "value": $doc.getFieldValue("count")},
#end
]
</div>
