#**
 *  Render json data for graph
 *#
 
 <script>
 
 var chart_json_data = [
			#foreach($doc in $response.results)
                        {'$doc.getFieldValue("code")': '$doc.getFieldValue("count")'}
 			#end
	]
 
 </script>