#**
 *  Paging and Statistics at bottom of results
 *#

## Usually rendered in pagination div tag

#if($response.response.get('grouped'))
  ## pass
#else

<div class="alert alert-info">
  <span class="results-found">$page.results_found</span>
  results found.

  Page <span class="page-num">$page.current_page_number</span>
    of <span class="page-count">$page.page_count</span>
</div>
  
<nav>
  <ul class="pager">
	    #if($page.current_page_number > 1)
		    #set($prev_start = $page.start - $page.results_per_page)
		    <li><a href="#url_for_start($prev_start)">Previous</a></li>
		#end
    	#if($page.current_page_number < $page.page_count) 
    	#set($next_start = $page.start + $page.results_per_page)
			<li><a href="#url_for_start($next_start)">Next</a></li> 
		#end
  </ul>
</nav>

#end
<br/>
